@import url(https://fonts.googleapis.com/css?family=Roboto:700,400,300,100|Montserrat:400,700);

html body{
  background-color: #1d1d1d;
}

h1, h2,{
  font-family: "Montserrat",sans-serif;
}

h3, h4, h5, h6, p, span{
  color:#fff;
}

#particles-js {
  background: linear-gradient(to right, #2ecc71 0%,#27aa6b 35%,#2ecc71 64%,#229379 100%);
  position: fixed;
  top: 3.25rem;
  right: 0;
  top: 0;
  left: 0;
  z-index: -1;
}

.info-box{
    padding: 30px;
    background-color: #212121;
    border-left: 2px solid #292929;
    margin-bottom:30px;
}

.info-box h3{
  color:#fff;
  font-family: "Montserrat",sans-serif;
  font-weight:700;
  text-transform:uppercase;
  display:inline-block;
}

.info-box .logo{
  float: left;
  width:100px;
  padding-right:30px;
}

.info-box .logo span{
  text-align:center;
  font-size:10px;
  display:inline-block;
  width:100%;
}

.info-box .step-1{
}

.trtl-button{
  border:1px solid #fff;
  border-radius:45px;
  padding:12px 26px;
  font-family: "Montserrat",sans-serif;
  font-size:10px;
  letter-spacing:2px;
  line-height:13.3333px;
  color:#fff;
  display:inline-block;
  cursor:pointer;
  text-transform:uppercase;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.trtl-button:hover {
  background-color: #2ecc71;
  border-color: #2ecc71;
  color:#fff;
  text-decoration: none;
}
.trtl-button.green{
    background-color: #2ecc71;
    border-color: #2ecc71;
}
.trtl-button.green:hover {
    background-color: #27aa6b;
    border-color: #27aa6b;
}

.nav {
  font-family: "Montserrat",sans-serif;
  background: #2f2f2f;
  text-transform: uppercase;
  height:78px;
  position:fixed;
  width:100%;
  top:0;
  left:0;
  z-index:10;
}

.main-logo{
  position:relative;
  top:28px;
  text-decoration:none;
  display:inline-block;
}

.main-logo:hover{
  text-decoration:none;
}

.main-logo h2{
  color:#fff;
  font-size: 22.5px;
  font-weight:700;
}

.banner{
  /* background:#2ecc71; */
  height:100vh;
  min-height:700;
  padding-top:150px;
}

.banner .row{
  margin:0;
}

.banner h1{
  color:#fff;
  font-weight:100;
  font-size:63px;
  margin-bottom:64px;
  font-family: "Roboto",sans-serif;
  max-width: 520px;
  line-height:1;
}

.content{
  background:#1d1d1d;
}

.private {
  color: #fff;
  font-weight:100;
  font-family: "Roboto",sans-serif;
}
.private-sm {
  color: #fff;
}

.qrcode {
  position: fixed;
  background: none repeat #FFF;
  top: 50%; left: 50%;
  width: 400px; height: 400px;
  margin: -300px 0px 0px -300px;
  padding: 1em;
  border: 1em dashed;
  z-index: 999;
  display: none;
}

.footer{
    margin-left: 16.66666667%;
    width: 66.66666667%;
    margin-top:60px;
    text-align:center;
    position:relative;
    padding-left:5px;
    padding-right:5px;
    text-align:center;
}

.footer p{
  font-size:16px;
  line-height:22.8571px;
  font-weight:300;
  font-family: "Roboto",sans-serif;
  color:#A2A2A2;
  display:inline-block;
  width:100%;
  text-align:center;
  margin-top:24px;
  margin-bottom:60px;
}

.footer h2 {
  color:#fff;
  font-size: 25px;
  font-weight: 700;
  margin-bottom:32px;
}

.footer hr{
  border-top: 1px solid #353535;
  position:absolute;
  width:100%;
  top:6px;
}

.footer .wrap {
    position: relative;
}

.footer .up {
    position: relative;
    top:2px;
}

.btn-primary {
}
div {
  /* padding-top: 1rem; padding correction */
}


@media print  {
  .noprint  {
    display: none;
    }
  }
@media screen {
  .noscreen {
    display: none;
    }
  }

